.form {
    border: 1px solid darkgray;
    width: 20%;
    height: 200px;
    margin: 0 auto;
}
.btn{
    color: green;
    background-color: #fff;
}
.email{
    border: 1px solid black;
}
.emailError{
    border: 2px solid red;
}